*.pyc
backend/uni_central/uni_central/__pycache__/
backend/uni_central/uni_central/__pycache__/apps.cpython-312.pyc
backend/uni_central/uni_central/__pycache__/__init__.cpython-312.pyc
backend/uni_central/uni_central/__pycache__/apps.cpython-312.pyc
**/.DS_Store
