<!-- templates/partials/dropdown.html -->
{% load static %}
<div class="actions">
    <a href="{% url 'signup' %}"><button class="register-btn">REGISTER</button></a>
    <div class="dropdown-menu">
      <button class="dropdown-menu-btn">&#9776;</button>
      <div class="dropdown-menu-content">
        <div class="icons">
          <img src="{% static 'assets/my_account_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'my_account' %}">My Account</a>
        </div>
        <div class="icons">
          <img src="{% static 'assets/my_courses_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'my_courses' %}">My Courses</a>
        </div>
        <div class="icons">
          <img src="{% static 'assets/my_professors_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'my_professors' %}">My Professors</a>
        </div>
        <div class="icons">
          <img src="{% static 'assets/my_classmates_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'my_classmates' %}">My Classmates</a>
        </div>
        <div class="icons">
          <img src="{% static 'assets/my_reviews_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'my_reviews' %}">My Reviews</a>
        </div>
        <div class="icons">
          <img src="{% static 'assets/course_planner_icon.png' %}" alt="UniCentral Logo">
          <a href="{% url 'course_planner' %}">Course Planner</a>
        </div>
        <div class="separator">
          <hr>
          <button class="logout-btn">Log Out</button>
          <hr>
        </div>
        <div class="links">
          <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
          <li><a href="{% url 'help_feedback' %}">Help & Feedback</a></li>
          <li><a href="{% url 'user_tutorial' %}">User Tutorial</a></li>
        </div>
      </div>
    </div>
</div>