<!-- templates/partials/navbar.html -->
{% load static %}
<header class="navbar">
    <div class="logo">
      <button class="logo-home-btn">
        <a href="{% url 'home' %}" class="logo-home-btn">
          <img src="{% static 'assets/logo_horizontal.png' %}" alt="UniCentral Logo">
        </a>
      </button>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="{% url 'courses' %}" class="{% if request.resolver_match.url_name == 'courses' %}active{% endif %}">Courses</a></li>
        <li><a href="{% url 'professors' %}" class="{% if request.resolver_match.url_name == 'professors' %}active{% endif %}">Professors</a></li>
        <li><a href="#" class="{% if request.resolver_match.url_name == 'course_filtering' %}active{% endif %}">Course Filtering</a></li>
        <li><a href="#" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
        <script type="module" src="{% static 'js/auth.js' %}"></script>
      </ul>
    </nav>
    <div class="actions">
      <a href="{% url 'signup' %}"><button class="register-btn">REGISTER</button></a>
      <div class="dropdown-menu">
        <button class="dropdown-menu-btn">&#9776;</button>
        <div class="dropdown-menu-content">
          <div class="icons">
            <img src="{% static 'assets/my_account_icon.png' %}" alt="UniCentral Logo">
            <a href="#">My Account</a>
          </div>
          <div class="icons">
            <img src="{% static 'assets/my_courses_icon.png' %}" alt="UniCentral Logo">
            <a href="#">My Courses</a>
          </div>
          <div class="icons">
            <img src="{% static 'assets/my_professors_icon.png' %}" alt="UniCentral Logo">
            <a href="#">My Professors</a>
          </div>
          <div class="icons">
            <img src="{% static 'assets/my_classmates_icon.png' %}" alt="UniCentral Logo">
            <a href="{% url 'my_classmates' %}">My Classmates</a>
          </div>
          <div class="icons">
            <img src="{% static 'assets/my_reviews_icon.png' %}" alt="UniCentral Logo">
            <a href="#">My Reviews</a>
          </div>
          <div class="icons">
            <img src="{% static 'assets/course_planner_icon.png' %}" alt="UniCentral Logo">
            <a href="#">Course Planner</a>
          </div>
          <div class="separator">
            <hr>
            <button class="logout-btn">Log Out</button>
            <hr>
          </div>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help & Feedback</a></li>
        </div>
      </div>
    </div>
  </header>
