<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="icon" href="/static/assets/logo_black.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniCentral</title>
  <link rel="stylesheet" href="{% static 'css/my_account.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
  <script type="module" src="{% static 'js/auth.js' %}"></script>
</head>
<body>

<header class="navbar">
  <div class="logo">
    <button class="logo-home-btn">
      <a href="{% url 'home' %}" class="logo-home-btn">
        <img src="{% static 'assets/logo_horizontal.png' %}" alt="UniCentral Logo">
      </a>
    </button>
  </div>
  {% include 'partials/dropdown.html' %}
</header>

<main class="main-content">
  <section class="hero">
    <div class="text-content">
        <h1><img src="{% static 'assets/profile_picture.png' %}" alt="profile picture">My Account</h1>
        <p><button class="update-profile-picture">Update profile picture</button></p>
    </div>
  </section>
  <div class="account-info">
    <p><label for="fName">First name: </label> <input type="text" id="fName"></p>
    <p><label for="lName">Last name: </label> <input type="text" id="lName"></p>
    <p><label for="email_address">Email address: </label></p>
    <p><button class="update-password">Update password</button></p>
    <p><button class="save-changes">SAVE CHANGES</button></p>
  </div>
</main> 
