<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="icon" href="/static/assets/logo_black.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniCentral</title>
  <link rel="stylesheet" href="{% static 'css/my_account.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
  <script type="module" src="{% static 'js/my_account.js' %}"></script>
</head>

{% include 'partials/navbar.html' %}

<main class="main-content">
  <section class="hero">
    <div class="text-content">
        <h1>My Account</h1>
    </div>
  </section>
  <div class="account-info">
    <p><label for="fName">First name: </label><span id="fNameDisplay"></span></p>
    <p><label for="lName">Last name: </label><span id="lNameDisplay"></span></p>
    <p>Email address: <span id="user-email"></span></p>
    <p><label for="university">School: </label><span id="universityDisplay"></span><input type="text" id="university" class="edit-input" style="display: none;"></p>
    <p><label for="major">Major: </label><span id="majorDisplay"></span><input type="text" id="major" class="edit-input" style="display: none;"></p>
    <p><label for="year">Year in school: </label><span id="yearDisplay"></span><input type="text" id="year" class="edit-input" style="display: none;"></p>
    
    <p><button class="update-password">Update password</button></p>
    <p><button id="edit-button" class="edit-profile-button">Edit Profile</button></p>
  </div>
  <div id="password-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <h2>Update Password</h2>
      <input type="password" id="new-password" placeholder="Enter new password">
      <input type="password" id="confirm-password" placeholder="Confirm new password">
      <div class="button-group">
        <button id="confirm-password-change">Update</button>
        <button id="cancel-password-change">Cancel</button>
      </div>
      <p id="password-error" class="error" style="display: none; color: red;"></p>
    </div>
  </div>
  <div class="alert" id="alertBox" style="display: none;">
    <div class="alert-content">
      <p id="alertMessage"></p>
      <button id="alertClose">OK</button>
    </div>
  </div>
</main>
