<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="icon" href="/static/assets/logo_black.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniCentral</title>
  <link rel="stylesheet" href="{% static 'css/my_professors.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
  <script type="module" src="{% static 'js/auth.js' %}"></script>
</head>

{% include 'partials/navbar.html' %}

<main class="main-content">
  <section class="hero">
    <div class="text-content">
        <div class="text-container">
          <h1>My Professors</h1>
        </div>
        <div class="semester">
          <label for="semester">Semester:</label>
          <select name="semester" id="semester-values">
            <option value="all">All</option>
            <option value="s2025">Spring 2025</option>
            <option value="f2024">Fall 2024</option>
            <option value="su2024">Summer 2024</option>
            <option value="s2024">Spring 2024</option>
          </select>
        </div>
    </div>
  </section>
  <div class="my-professors">
    <select class="professors-sort">
        <option value="a-z">A - Z</option>
        <option value="newest-oldest">Newest - oldest</option>
        <option value="oldest-newest">Oldest - newest</option>    
    </select>
    </div>
    <div class="professor-card">
      <div class="professor-info">
        <div class="title-section">
          <h3>Daniel Kopta</h3>
        </div>
        <p>Courses taught: CS 2420, CS 4400, CS 5530</p>
        <div class="difficulty-rating">
          <p>Difficulty:   <img src="{% static 'assets/5:6_difficulty.png' %}" alt="difficulty rating"></p>
        </div>
      </div>
  
      <div class="professor-right">
        <p>Overall professor rating:</p>
        <div class="rating-container">
          <img src="{% static 'assets/star.png' %}" alt="star rating">
          <span class="rating-number">3.5</span>
        </div>
      </div>
    </div>
    <div class="professor-card">
      <div class="professor-info">
        <div class="title-section">
          <h3>Zhang Mu</h3>
        </div>
        <p>Courses taught: CS 4400</p>
        <div class="difficulty-rating">
          <p>Difficulty:   <img src="{% static 'assets/5:6_difficulty.png' %}" alt="difficulty rating"></p>
        </div>
      </div>
  
      <div class="professor-right">
        <p>Overall professor rating:</p>
        <div class="rating-container">
          <img src="{% static 'assets/star.png' %}" alt="star rating">
          <span class="rating-number">3.5</span>
        </div>
      </div>
    </div>
  </div>
</main> 
