{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'assets/logo_black.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Details</title>
    <link rel="stylesheet" href="{% static 'css/professor_detail.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="{% static 'js/professor_detail.js' %}"></script>
    <script type="module" src="{% static 'js/auth.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'partials/navbar.html' %}

    <main class="main-content professor-detail-page">
        <!-- Hidden input for professor ID -->
        <input type="hidden" id="professorId" value="{{ professor_id }}">
        
        <!-- Professor Information Section -->
        <section class="professor-info" id="professor-info">
            <h1 class="professor-name" id="professor-name">Loading professor...</h1>
            <div class="professor-details" id="professor-details"></div>
            <div class="professor-buttons">
                <button id="add-professor-btn" class="professor-leave-review-button">Add Professor</button>
                <a id="discussion-board-btn" href="{% url 'professor_discussion_board' context_id=professor_id %}" class="go-to-discussion-board-button">Discussion Board</a>
            </div>

            <!-- Link to toggle chart visibility -->
            <a href="#" id="showProfessorChartLink" class="view-grade-distribution-link">View Professor Grade Distribution</a>

            <!-- Chart container for sizing -->
            <div id="professor-chart-container" style="display: none;">
                <canvas id="gradeAverageChart"></canvas>
            </div>

            <!-- Message when no grade data is available -->
            <p id="no-grade-message" style="display: none; font-weight: bold; text-align: center;">
                No grade distribution available.
            </p>
            
        </section>

        <!-- Reviews Section -->
        <section class="professor-reviews" id="professor-reviews">
             <!-- Leave a Review Button -->
            <a id="professor-leave-review-btn" href="{% url 'professor-review-form' context_id=professor_id %}" class="professor-leave-review-button">
                Leave a Review
            </a>
            <h2 class="reviews-title">Reviews</h2>
            <ul class="reviews-list" id="reviews-list"></ul>
            <p class="no-reviews-message" id="no-reviews-message" style="display: none;">No reviews available for this professor.</p>
        </section>
    </main>
</body>
