/* ============================================= */
/* General                                       */
/* ============================================= */
body, html, ul, li, p, h1, h2, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #FAF8F0;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../assets/fonts/Agrandir-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ============================================= */
/* Navbar Styles                                 */
/* ============================================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 100;
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
}

.logo img {
  width: 200px;
  margin-right: 8px;
}

.logo-home-btn {
  border: none;
  background-color: #FAF8F0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.nav-links a:hover {
  color: #005a5b;
}

.actions {
  display: flex;
  align-items: center;
}

.register-btn {
  background-color: #005a5b;
  color: #FAF8F0;
  border: none;
  font-family: 'Agrandir', sans-serif;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #007d7d;
}

.welcome-message {
  color: #005a5b;
  font-weight: bold;
  margin-right: 1rem;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

/* ============================================= */
/* Hero Section                                   */
/* ============================================= */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.text-container {
  position: relative;
  z-index: 1;
}

.text-content {
  max-width: 100%;
  font-family: 'Agrandir', sans-serif;
}

.text-content h1 {
  font-family: 'Agrandir', sans-serif;
  font-weight: 100;
  font-size: 65px;
  color: #ff743e;
  margin-left: 8px;
  margin-top: -50px;
}

.text-content p {
  margin-top: 0.5rem;
  font-family: 'Poppins-light', sans-serif;
  font-weight: 50;
  font-size: 25px;
  color: black;
}

/* ============================================= */
/* Search Bar                                     */
/* ============================================= */
.search-bar {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between elements */
  position: relative;
  padding: 0.5rem;
  z-index: 1;
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-bar p {
  font-family: 'Agrandir', sans-serif;
  font-size: 35px;
  color: black;
  white-space: nowrap; /* Prevents text from wrapping */
  margin-left: -60px; /* Remove default paragraph margins */
}

.search-input {
  font-family: 'Agrandir', sans-serif;
  font-size: 20px;
  color: #02634f;
  padding: 0.5rem 1rem;
  width: 800px;
  border-radius: 12px;
  border: 3px solid #005a5b;
  z-index: 2;
}

.search-btn {
  background-color: #005a5b;
  font-family: 'Agrandir', sans-serif;
  font-size: 25px;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
}

.search-input::placeholder {
  font-family: 'Agrandir', sans-serif;
  font-size: 25px;
  color: #02634f;
}

.search-btn:hover {
  background-color: #007d7d;
}


.my-classmates {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 2rem;
}

.search-add-classmate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.classmate-search {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.classmate-filter {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  margin-top: -100px;
  margin-left: 20px;
}

.classmate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Increased minimum width from 300px to 350px */
  gap: 1.5rem;
  padding: 0 1rem;
}

.classmate-card {
  background-color: #f5f5f5;
  border-width: 3px;
  border-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  width: 475px;
  height: 200px;
}

.classmate-avatar {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5rem;
}

.classmate-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.chat-button:hover {
  transform: scale(1.1);  /* Makes the button slightly larger on hover */
}

.chat-bubble {
  width: 35px;
  object-fit: contain;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 10px;  
}

.name-container h3 {
  margin: 0;  
  font-size: 25px;
}

.classmate-info h3 {
  font-size: 25px;
  margin-bottom: 0;
}

.classmate-status {
  font-size: 20px;
  color: #666;
}

.classmate-info p {
  font-size: 0.9rem;
  color: #666;
}